.redo {
    color: purple;
    font-size: 26px;
    text-align: center;
    font-family: "Open Sans", "PT Sans", sans-serif;

}



.head {
    background-color: grey;
    color: whitesmoke;
    font-size: 36px;
    text-align: center;
    font-family: "Open Sans", "PT Sans", sans-serif;
}


a {
    color: red;
    text-align: center;
    font-size: 26px;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    
}

a:hover {
    color: blue;


}